{% extends "./base.html" %}

{% block title %} Alta al Taller {% endblock %}

{% block body %}
<div class="row">
    <!--
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Inscripción a Taller</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Matrícula# #=1 taller1 #=2 taller2"
                            minlength="9" maxlength="9" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    
                    <div class="form-group">
                        <select id="numCreditos" name="numCreditos" class="form-control" class="campo-select">
                            <option selected>DESARROLLO DE UN CRUD DE 0 A 100 CON DJANGO</option>
                            <option>TECNOLOGÍAS INALÁMBRICAS Y REDES SOCIALES</option>
                            <option>MICROFRAMEWORKS PARA FRONT END</option>
                            <option>DESARROLLO DE INVESTIGACIÓN E INNOVACIÓN</option>
                            <option>ADMINISTRACIÓN DE VERSIONES CON GIT</option>
                            <option>DISEÑO DE PROTOTIPOS DE BAJO NIVEL</option>
                            <option>R EN CIENCIA DE DATOS</option>
                            <option>CREACIÓN DE APLICACIONES CON POWER APPS </option>
                            <option>LENGUAJE DE MODELADO UNIFICADO (UML)</option>
                            <option>IA COMO HERRAMIENTA PARA EL APRENDIZAJE</option>
                            <option>COMUNICACIÓN SERIAL EN ARDUINO</option>
                            <option>ANÁLISIS Y DISEÑO DE SOFTWARE</option>
                            <option>SCRUM</option>
                            <option>ADMINISTRA TUS PROYECTOS CON SW PROJECT</option>
                            <option>HERRAMIENTAS PARA CONTROL DEL TALENTO HUMANO</option>
                            <option>EVALUACIÓN DE ACCESIBILIDAD</option>
                            <option>PROGRAMACIÓN EN OCTAVE</option>
                            <option>CÁLCULO DIFERENCIAL PARA TICS</option>
                            <option>DESARROLLO DE PROYECTOS DE SW CON SCRUM</option>
                            <option>GUERRA DE CODIGO</option>
                            <option>TORNEO SMASH</option>
                            <option>TORNEO FUTBOL VIRTUAL</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
-->
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Listado de Participantes a Talleres</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Créditos</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.creditos}}</td>
                        <td><a href="edicionCurso/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <!-- <td><a href="eliminarCurso/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
