{% extends "./base.html" %}
{% block body %}
<html>
    <head></head>
    <body>
        <iframe width="700" height="900" frameborder="0" scrolling="no" src="https://apizacotecnm.sharepoint.com/sites/docentes_sistemas/_layouts/15/Doc.aspx?sourcedoc={5af43d51-bb25-4826-bd62-4e95b0e90a70}&action=embedview&wdAllowInteractivity=False&Item='Hoja1'!A1%3AAG45&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True"></iframe>
        <h5>Selecciona los talleres y ve a inscripción</h5>
    </body>
</html>
{% endblock %}